* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f0fff4;
    color: #2e7d32;
}

body.home {
    background-image: url("../assets/img/fundo-home.jpg"); /* CAMINHO CORRETO */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #66bb6a;
    color: white;
    padding: 20px;
    text-align: center;
}

.slogan {
    font-style: italic;
    font-size: 1.2rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

main section {
    margin-bottom: 40px;
    text-align: left;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

main h2 {
    color: #2e7d32;
    margin-bottom: 10px;
}

main ul {
    list-style: none;
    padding-left: 0;
}

main ul li {
    margin-bottom: 8px;
    font-size: 1.1rem;
}
item {
    margin: 20px 0;
}

.item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
    padding: 10px;
}